
@{
    Layout = null;
}

 <!DOCTYPE html>

 <html>
 <head>
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
     <style>
         body {
             background-image: url('../../Content/image/healthbackgroudnewend.png');
             background-repeat: no-repeat;
             background-attachment: fixed;
             background-position: center;
         }

         #ana_div {
             height: auto;
             width: auto;
             margin-right: auto;
             margin-left: auto;
             margin: 50px;
             padding-left: 780px;
             padding-top: 120px;
         }

         .div {
             float: left;
             display: inline-block;
             height: 150px;
             width: 150px;
             margin: 20px;
         }

         h2 {
             font-family: "Tangerine", serif;
             color: #069652;
             text-align: center;
         }
     </style>
 </head>
 <body>
     <div id="ana_div">
         <div class="div" id="div">
             <a href="https://localhost:44358/CitizenLogin/Index">
                 <h2>Citizen Login Screen</h2>
                 <img src="~/Content/image/patient.jpg" alt="Citizen Login Screen" style="width:150px;height:150px;">
             </a>
         </div>
         <div class="div" id="div2">
             <a href="https://localhost:44358/DoctorLogin/Index">
                 <h2>Doctor Login Screen</h2>
                 <img src="~/Content/image/doctor.png" alt="Doctor Login Screen" style="width:150px;height:150px;">
             </a>
         </div>
     </div>
 </body>
 </html>

